@font-face { font-family: 'Pretendard-SemiBold'; src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff'); font-weight: 700; font-style: normal; } 

/*===공통===*/

* { margin: 0; padding: 0; } 

.clear { clear: both; } 

html { overflow-x: hidden; /*font-family: verdana, sans-serif; */
 /*font-family: 'Pretendard-Regular'; font-weight: 900; */}

body { font-family: 'Pretendard'; } 

#wrap { position: relative; scroll-snap-type: y mandatory; width: 100%; height: 100vh; margin: 0 auto; overflow-x: hidden; overflow-y: auto; scroll-behavior: smooth; scrollbar-width: none; } 



a { text-decoration: none; } 

/* #main_contents, */
#container1,
#swiper-container1,
/*container2*/
#container3,
#container3-2,
#container4,
#container5,
#container6,
#container7,
#container8,
#container9,
#container10,
#container11,
#container12,
#container13,
#container14,
#container15,
#swiper-container2,
/*container17*/
#container18,
#container19 { scroll-snap-align: start; /* width: 1172px; */
width: 100%; height: 100vh; margin-left: auto; margin-right: auto; overflow-y: scroll; overflow-x: hidden; } 

/*===header===*/

header { width: 100%; height: 66px; position: fixed; top: 0; left: 0; z-index: 10; display: flex; background-color: #1e1e1e3a; } 

.logo img { position: relative; top: 20px; left: 20px; z-index: 5; width: 60px; } 

header nav { display: flex; margin-left: 152px; } 

header nav ul { display: flex; list-style-type: none; margin-left: 90px; } 

header nav ul li { display: inline-block; width: 100%; margin: 25px; } 

header a { color: white; font-size: 13px; letter-spacing: 0px; } 

header a:hover { color: #58CCB5; } 

/*===메인이미지===*/

#main_contents { scroll-snap-align: start; width: 100%; height: 100vh; position: relative; } 

#main_contents img { width: 100%; height: 100vh; } 

#imgSet { position: relative; height: 100vh; box-sizing: border-box; } 

#imgSet .img { width: 100%; height: 100vh; position: absolute; top: 0; left: 0; } 

.main_text { text-align: left; position: relative; bottom: 40%; left: 170px; color: white; animation: textfadein 1.5s ease-in; font-size: 40px; line-height: 76px; /* text-shadow: 4px 4px 5px rgba(128, 128, 128, 0.602); */}

.main_text span { font-size: 69px; } 

@keyframes textfadein { 
0% { opacity: 0; transform: translate3d(0, 70%, 0); } 

to { opacity: 1; transform: translateZ(0); } 
}

/*===메인 스크롤 아이콘===*/

.scroll-down { bottom: 40px; position: absolute; left: 50%; transform: translate(-50%, 0%); z-index: 5; color: white; } 

.scroll-down p { display: block; font-size: 14px; margin-bottom: 10px; margin-block-start: 1em; margin-block-end: 1em; margin-inline-start: 0px; margin-inline-end: 0px; } 

.scroll_down span { display: block; position: relative; width: 20px; height: 30px; border: 2px solid white; border-radius: 50px; box-sizing: border-box; margin: 0 auto; } 

.scroll_down span:before { content: ''; display: block; position: absolute; top: 2px; left: 50%; width: 4px; height: 4px; border-radius: 50%; background: white; transform: translateX(-50%); box-sizing: border-box; animation: scroll 2s infinite; } 

@-webkit-keyframes scroll { 
 0% { -webkit-transform: translate(-50%, 0); opacity: 0; } 

 40% { opacity: 1; } 

 80% { -webkit-transform: translate(-50%, 20px); opacity: 0; } 

 100% { opacity: 0; } 
 }

@keyframes scroll { 
 0% { transform: translate(-50%, 0); opacity: 0; } 

 40% { opacity: 1; } 

 80% { transform: translate(-50%, 20px); opacity: 0; } 

 100% { opacity: 0; } 
 }

/*===container-1===*/

#container1 { display: flex; justify-content: center; align-items: center; background-color: #1E1E1E; overflow-y: scroll; } 

#container1 .my-video { display: flex; justify-content: center; align-items: center; background-color: #1E1E1E; overflow-y: scroll; padding-top: 120px; } 

#container1 video { width: 1370px; } 

#container1::-webkit-scrollbar { width: 0.5rem; /* 스크롤바 너비 조정 */}

#container1::-webkit-scrollbar-track { background-color: transparent; /* 스크롤바 트랙 배경색 설정 */}

#container1::-webkit-scrollbar-thumb { background-color: transparent; /* 스크롤바 색상 설정 */}

/*===container-2(swiper-container-1)===*/

#swiper-container1 .swiper-slide { background-color: #1E1E1E; display: flex; justify-content: center; align-items: center; } 

#swiper-container1 h1 { color: white; font-size: 42px; /* font-size: 3vw; */}

#swiper-container1 span { color: #58CCB5; font-size: 42px; /* font-size: 3vw; */}

/*===container-3===*/

#container3 { width: 1172px; /*padding-top: 188px; */
 display: flex; justify-content: center; align-items: center; } 

/* @media only screen and (max-width: 768px){
 #container3 { width: 90%; padding-top: 120px; } 
 }*/

#container3 .define-text { float: left; /*텍스트 영역과 이미지 영역이 나란히 오도록*/
 margin-right: 190px; } 

#container3 .define-text h2 { font-size: 50px; /* font-size: 3.4vw; */
 margin-bottom: 30px; font-weight: 700; } 

#container3 .define-text p { font-size: 12px; /* font-size: 0.8vw; */
 color: #848484; margin-bottom: 29px; } 

#container3 .define-text h3 { font-size: 20px; /* font-size: 1.3vw; */
 margin-bottom: 120px; /* margin-bottom: 9.2vw; */
 font-weight: 500; line-height: 27px; /* line-height: 2.2vw; */}

#container3 .define-text span { color: #58CCB5; } 

#container3 .define-img-section { float: right; position: relative; top: 130px; left: 9px; } 

#container3 .define-img { position: relative; width: 479px; height: 138px; margin: 10px; } 

#container3 .image { display: block; width: 100%; height: auto; } 

#container3 .define-img .bg-p { position: relative; left: 180px; bottom: 79px; font-size: 24px; font-weight: 600; color: white; opacity: 1; } 

#container3 .textbox { position: absolute; top: 0; bottom: 0; left: 0; right: 0; height: 100%; width: 100%; opacity: 0; transition: .6s ease; } 

#container3 .define-img:hover .textbox { opacity: 1; } 

#container3 .define-img:hover .bg-p { opacity: 0; } 

#container3 .text { color: white; font-size: 25px; font-weight: 500; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center; width: 100%; } 

#container3 .text span { font-size: 40px; color: #63E5CB; font-weight: 600; } 

#container3::-webkit-scrollbar { width: 0.5rem; /* 스크롤바 너비 조정 */}

#container3::-webkit-scrollbar-track { background-color: transparent; /* 스크롤바 트랙 배경색 설정 */}

#container3::-webkit-scrollbar-thumb { background-color: transparent; /* 스크롤바 색상 설정 */}

/*===container-4===*/

.container4-bg { background-image: url("../img/container4-bg.png"); background-repeat: no-repeat; background-size: cover; } 

#container4 { width: 1172px; display: flex; justify-content: center; align-items: center; } 

#container4 .survey-text { float: left; } 

#container4 .survey-text h2 { font-size: 50px; /* font-size: 3.4vw; */
 margin-bottom: 35px; /* margin-bottom: 3.7vw; */
 font-weight: 700; } 

#container4 .survey-text h2 span { color: #58CCB5; font-weight: 700; font-size: 50px; } 

#container4 .survey-text h3 span { color: #43ab96; font-weight: 400; } 

#container4 .survey-text p { font-size: 12px; /* font-size: 0.8vw; */
 color: #848484; line-height: 27px; } 

#container4 .survey-text h3 { font-size: 19px; /* font-size: 1.3vw; */
 font-weight: 500; line-height: 28px; /* line-height: 2.2vw; */
 margin-bottom: 28px; /* margin-bottom: 2vw; */}

#container4 .graph-content { display: flex; float: right; } 

#container4 .graph-content p { font-weight: 300; text-align: center; } 

#container4 .graph-content h2 { font-weight: 600; text-align: center; opacity: 1; transition: .5s ease; } 

#container4 .graph-content .circle-1:hover h2 { opacity: 1; } 

#container4 .graph-content .circle-2:hover h2 { opacity: 1; } 

#container4 .graph-content .circle-3:hover h2 { opacity: 1; } 

#container4 .graph-content .circle-4:hover h2 { opacity: 1; } 


#container4 .circle-1,
#container4 .circle-2,
#container4 .circle-3,
#container4 .circle-4 { display: flex; flex-flow: column; justify-content: center; align-items: center; color: white; opacity: 0; /* 애니메이션을 주기 위함 */}

#container4 .graph-content .circle-1 { width: 98px; height: 98px; background-color: #8A876A; border-radius: 50px; margin-top: 500px; position: relative; right: 10px; } 

#container4 .graph-content .circle-1 p { font-size: 13px; margin-bottom: 6px; } 

#container4 .graph-content .circle-1 h2 { font-size: 14px; } 

#container4 .graph-content .circle-2 { width: 129px; height: 129px; background-color: #8A876A; border-radius: 50%; margin-top: 430px; position: relative; left: 10px; } 

#container4 .graph-content .circle-2 p { font-size: 15px; margin-bottom: 8px; } 

#container4 .graph-content .circle-2 h2 { font-size: 18px; } 

#container4 .graph-content .circle-3 { width: 183px; height: 183px; background-color: #8A876A; border-radius: 50%; margin-top: 300px; position: relative; left: 20px; } 

#container4 .graph-content .circle-3 p { font-size: 17px; margin-bottom: 9px; } 

#container4 .graph-content .circle-3 h2 { font-size: 20px; } 

#container4 .graph-content .circle-4 { width: 282px; height: 282px; background-color: #58CCB5; border-radius: 50%; margin-top: 80px; } 

#container4 .graph-content .circle-4 p { font-size: 23px; margin-bottom: 20px; } 

#container4 .graph-content .circle-4 h2 { font-size: 30px; } 

#container4 .text span { font-size: 40px; color: #63E5CB; font-weight: 600; } 

#container4::-webkit-scrollbar { width: 0.5rem; /* 스크롤바 너비 조정 */}

#container4::-webkit-scrollbar-track { background-color: transparent; /* 스크롤바 트랙 배경색 설정 */}

#container4::-webkit-scrollbar-thumb { background-color: transparent; /* 스크롤바 색상 설정 */}


/*===container-5===*/

#container5 { background-color: #1E1E1E; } 

#container5 img { width: 84px; height: 23px; position: relative; top: 130px; } 

#container5 .container-5-content { width: 1172px; height: 100vh; margin-left: auto; margin-right: auto; display: flex; flex-flow: column; justify-content: center; align-items: center; } 

#container5 .container-5-content h1 { text-align: center; font-size: 50px; color: white; margin-bottom: 20px; line-height: 60px; } 

#container5 span { color: #58CCB5; } 

#container5 .container-5-content .container5-typing { color: #58CCB5; font-weight: bold; font-size: 40px; } 

#container5 .container-5-content .container-5-circles { display: flex; } 

#container5 .container-5-content .container-5-circles .container-5-circle-1 { display: flex; flex-flow: column; justify-content: center; align-items: center; width: 381px; height: 381px; border: 3px dotted #8A876A; border-radius: 50%; position: relative; right: 160px; bottom: 40px; } 

#container5 .container-5-content .container-5-circles .container-5-circle-1 .content { text-align: center; color: white; font-size: 20px; line-height: 27px; margin-bottom: 26px; } 

#container5 .container-5-content .container-5-circles .container-5-circle-1 .footnote { text-align: center; font-size: 9px; color: #848484; line-height: 12px; } 

#container5 .container-5-content .container-5-circles .container-5-circle-2 { display: flex; flex-flow: column; justify-content: center; align-items: center; width: 381px; height: 381px; background-color: #8A876A; border-radius: 50%; position: relative; left: -160px; bottom: 40px; opacity: 0; } 

#container5 .container-5-content .container-5-circles .container-5-circle-2 .content { text-align: center; color: white; font-size: 20px; line-height: 27px; margin-bottom: 26px; } 

#container5 .container-5-content .container-5-circles .container-5-circle-2 .footnote { text-align: center; font-size: 9px; color: #b0b0b0; line-height: 12px; } 

#container5 .container-5-last-txt { text-align: center; color: white; font-size: 15px; line-height: 23px; } 

/*===container-6===*/
#container6 { display: flex; justify-content: center; align-items: center; overflow-y: scroll; } 

#container6 .container6-content { width: 1172px; height: 100vh; margin-left: auto; margin-right: auto; display: flex; justify-content: center; align-items: center; flex-flow: column; } 

#container6 .container-6-swiper-content { display: flex; justify-content: center; align-items: center; margin-top: 30px; opacity: 0; width: 1142px; height: 531px; } 

#container6 .container6-content h2 { font-size: 27px; /* font-size: 2.3vw; */
 margin-bottom: 13px; /* margin-bottom: 1.1vw; */
 position: relative; } 

#container6 .interview-title { position: relative; right: 520px; } 

#container6 .interview-title-p { position: relative; right: 345px; } 

#container6 .container6-content p { font-size: 14px; /*font-size: 1vw; */
 color: #1E1E1E; } 

#container6 .swiper { /* width: 100%; height: 100%; */
 width: 541px; height: 480px; margin: 20px; } 

#container6 .swiper-slide { text-align: center; font-size: 18px; background: #fff; } 

#container6 .swiper-slide img { display: block; width: 100%; height: 100%; object-fit: cover; } 

#container6 .interview-1 .swiper { /* border: solid 1px red; */}

#container6 .interview-2 .swiper { /*border: solid 3px red; */}

#container6 .interview-1 .swiper .swiper-slide { background-color: #273F3A; border-radius: 46px; } 

#container6 .interview-1 .swiper .swiper-slide .title { text-align: left; padding: 40px; } 

#container6 .interview-1 .swiper .swiper-slide .title p { color: white; font-size: 16px; line-height: 26px; } 

#container6 .interview-1 .swiper .swiper-slide .title span { font-size: 23px; } 

#container6 .interview-1 .swiper .swiper-slide .swiper-first-content { display: flex; } 

#container6 .interview-1 .swiper .swiper-slide img { width: 292px; margin-bottom: 30px; } 

#container6 .swiper-slide h2 { position: absolute; left: 200px; top: 70px; color: white; /* border: solid 1px red; */
 text-align: left; } 

#container6 .swiper-first-content p { font-size: 14px; width: 290px; line-height: 23px; margin-top: 130px; margin-left: 19px; color: white; text-align: left; /* border: solid 1px red; */}

#container6 .swiper-first-content .swiper-txt-2 { margin-left: 17px; font-size: 13px; } 

#container6 .swiper-first-content .swiper-txt-3 { margin-left: 17px; font-size: 13px; } 

#container6 .swiper-pagination-bullet { width: 12px; height: 12px; position: relative; bottom: 430px; background-color: #58CCB5; } 

#container6::-webkit-scrollbar { width: 0.5rem; /* 스크롤바 너비 조정 */}

#container6::-webkit-scrollbar-track { background-color: transparent; /* 스크롤바 트랙 배경색 설정 */}

#container46::-webkit-scrollbar-thumb { background-color: transparent; /* 스크롤바 색상 설정 */}

/*===container-7===*/

#container7 { background-image: url("../img/text-background.png"); background-repeat: no-repeat; background-size: cover; position: relative; } 

#container7 .container7-content { width: 1172px; height: 100vh; margin-left: auto; margin-right: auto; display: flex; flex-flow: column; justify-content: center; align-items: center; } 

#container7 .short-line { position: relative; margin: 30px; } 

#container7 .container7-h-1 { text-align: center; color: #9F9F9F; font-size: 22px; /* font-size: 2.7vw; */
 line-height: 33px; font-weight: 500; } 

#container7 .container7-h-2 { opacity: 0; text-align: center; color: white; font-size: 40px; /* font-size: 2.7vw; */
 position: relative; } 

#container7 .container7-h-1 span { color: #fff; font-weight: 600; } 

#container7 span { color: #58CCB5; } 

#container7 .container7-sp { /* text-decoration: none; */
 padding-bottom: 5px; } 

#container7::-webkit-scrollbar { width: 0.5rem; /* 스크롤바 너비 조정 */}

#container7::-webkit-scrollbar-track { background-color: transparent; /* 스크롤바 트랙 배경색 설정 */}

#container7::-webkit-scrollbar-thumb { background-color: transparent; /* 스크롤바 색상 설정 */}

/*===container-9===*/

#container9 { display: flex; background-color: #1E1E1E; } 

#container9 .container9-content { width: 1172px; height: 100vh; margin-left: auto; margin-right: auto; display: flex; justify-content: center; align-items: center; } 

#container9 .container9-text { display: flex; flex-flow: column; justify-content: left; margin-right: 130px; } 

#container9 .container9-text h2 { font-size: 30px; /* font-size: 2.3vw; */
 color: white; margin-bottom: 85px; } 

#container9 .container9-text p { font-size: 40px; /* font-size: 2.7vw; */
 font-weight: bold; color: white; line-height: 60px; /* line-height: 4.6vw; */
 width: 450px; } 

#container9 .container9-text span { color: #58CCB5; } 

#container9 .container9-sp { opacity: 0; /* transform: translateY(-20px); */
 /* transition: opacity 2s ease-in-out; */}

#container9 .container9-img { display: flex; position: relative; left: 7px; } 

#container9 .container9-img img { /* float: right; */
 margin: 14px; } 

#container9 .left-img { /* width: 289px; */
 opacity: 0; transform: translatey(15%); position: relative; top: 100px; left: 15px; } 

#container9 .right-img { /* width: 289px; */
 /* border: 1px solid rgb(7, 0, 195); */
 opacity: 0; transform: translatey(15%); position: relative; top: 5px; } 

#container9::-webkit-scrollbar { width: 0.5rem; /* 스크롤바 너비 조정 */}

#container9::-webkit-scrollbar-track { background-color: transparent; /* 스크롤바 트랙 배경색 설정 */}

#container9::-webkit-scrollbar-thumb { background-color: transparent; /* 스크롤바 색상 설정 */}

/*===container-10===*/
#container10 { background-image: url(../img/container10-bg.png); background-repeat: no-repeat; background-size: cover; } 

#container10 .container10-content { width: 1172px; height: 100vh; margin-left: auto; margin-right: auto; position: relative; display: flex; justify-content: center; align-items: center; } 

#container10 .logo { width: 282px; height: 110px; position: relative; right: 30px;} 

#container10 .three-line { width: 110px; height: 242px; position: relative; left: 15px; } 

#container10 .container10-circle { display: flex; flex-flow: column; justify-content: center; align-items: center; position: relative; left: 35px; } 

#container10 .circle-1,
.circle-2,
.circle-3 { display: flex; justify-content: center; align-items: center; } 

#container10 .circle-1 { position: relative; right: 80px; bottom: 5px; } 

#container10 .circle-3 { position: relative; right: 70px; } 

#container10 .green-circle { width: 190px; height: 190px; border-radius: 50%; background-color: #8A876A; color: white; display: flex; justify-content: center; align-items: center; font-size: 26px; font-weight: 600; } 

#container10 .mint-circle { width: 190px; height: 190px; border-radius: 50%; background-color: #58CCB5; color: white; display: flex; justify-content: center; align-items: center; font-size: 26px; font-weight: 600; } 

#container10 .baige-circle { width: 190px; height: 190px; border-radius: 50%; background-color: #FDF6EC; color: #164A44; display: flex; justify-content: center; align-items: center; font-size: 26px; font-weight: 600; } 

#container10 p { font-size: 17px; margin-left: 30px;line-height: 23px; position: relative; top: 5px;} 


/*===container-12===*/


#container12 { background-color: #1E1E1E; } 

#container12 h2 { font-size: 30px; color: white; padding-bottom: 40px; position: relative; right: 470px; padding-top: 120px; } 

#container12 .container12-top { display: flex; margin-bottom: 40px; } 

#container12 .top-right { /* width: 650px; */}

#container12 .container12-top .keyword-1,
.keyword-2 { color: white; width: 484px; height: 130px; font-size: 30px; font-weight: 100; line-height: 105px; display: flex; justify-content: center; align-items: center; } 

#container12 .container12-bottom { display: flex; } 

#container12 .bottom-right { /* width: 650px; */}

#container12 .container12-bottom .keyword-3,
.keyword-4 { color: white; width: 484px; height: 130px; font-size: 30px; font-weight: 100; line-height: 105px; display: flex; justify-content: center; align-items: center; } 

/* #container12 .container12-bottom .bottom-left */

#container12 .container12-content { width: 1172px; height: 100vh; margin-left: auto; margin-right: auto; display: flex; flex-flow: column; justify-content: center; align-items: center; } 

#container12 .color-keyword { position: relative; width: 677px; height: 120px; margin: 10px; } 

#container12 .image12 { display: block; width: 100%; height: auto; } 

#container12 .image12 img { width: 677px; height: 120px; } 

#container12 .photo-txt { position: absolute; top: 0; bottom: 0; left: 0; right: 0; height: 100%; width: 100%; opacity: 0; transition: .9s ease; } 

#container12 .photo-text-1,
.photo-text-2,
.photo-text-3,
.photo-text-4 { font-size: 25px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); /* transform: translate(-50%, -50%); transform: translate(-50%, -50%); */
 text-align: left; width: 677px; height: 120px; } 

#container12 .color-1,
.color-2,
.color-3,
.color-4 { margin-top: 13px; margin-left: 15px; margin-bottom: 14px; font-size: 25px; } 

#container12 .color-1-1,
.color-2-1,
.color-3-1,
.color-4-1 { font-size: 18px; margin-left: 15px; } 

#container12 .color-keyword:hover .photo-txt { opacity: 1; } 

#container12 .photo-text-1 { background-color: #273F3A; /* 원하는 배경색으로 변경합니다. */
 color: white; font-weight: Thin; } 

#container12 .photo-text-2 { background-color: #58CCB5; /* 원하는 배경색으로 변경합니다. */
 color: black; font-weight: Thin; } 

#container12 .photo-text-3 { background-color: #8A876A; /* 원하는 배경색으로 변경합니다. */
 color: white; font-weight: Thin; } 

#container12 .photo-text-4 { background-color: #FFF8E9; /* 원하는 배경색으로 변경합니다. */
 color: black; font-weight: Thin; } 

#container12::-webkit-scrollbar { width: 0.5rem; /* 스크롤바 너비 조정 */}

#container12::-webkit-scrollbar-track { background-color: transparent; /* 스크롤바 트랙 배경색 설정 */}

#container12::-webkit-scrollbar-thumb { background-color: transparent; /* 스크롤바 색상 설정 */}



/*=====container13======*/

/*레이아웃 잡기*/
#container13 { } 

#container13 .container13-content { } 

#container13 .black-bg { width: 50%; height: 100vh; background-color: #1E1E1E; float: left; position: relative; display: flex; justify-content: flex-end; } 

#container13 .white-bg { width: 50%; height: 100vh; background-color: #fff; /* border: 4px solid rgb(13, 0, 129); */
 float: right; } 

#container13 .black-bg .left-ct { width: 586px; height: 100vh; background-color: #1E1E1E; clear: both; color: white; display: flex; justify-content: center; align-items: center; } 

#container13 .white-bg .right-ct { width: 586px; height: 100vh; background-color: #fff; clear: both; color: white; display: flex; flex-flow: column; justify-content: center; align-items: center; } 

#contaienr13 .right-ct { width: 586px; height: 100vh; border: 2px solid rgb(104, 12, 89); } 

/*container13-컨텐츠 css*/

#container13 h2 { font-size: 30px; margin-top: 109px; position: relative; right: 100px; bottom: 300px; } 

#container13 .logo-imgs { display: flex; flex-flow: column; /* padding-bottom: 100px; */
 position: relative; top: 50px; /* margin-top: 200px; margin-bottom: 200px; */}

#container13 .logo-imgs img { width: 282px; margin: 15px; } 

#container13 .logo-meaning { font-size: 51px; font-weight: 800; color: black; /* margin-left: 108px; */
 margin-bottom: 23px; } 

#container13 .logo-explain { font-size: 12px; color: #545454; /* padding-top: 205px; */
 /* margin-left: 104px; */
 position: relative; right: 108px; bottom: 20px; } 

#container13 .span-color { /*color: #58CCB5; */
 color: black; } 

#container13 .meaning-2 { font-size: 15px; color: black; line-height: 20px; margin-bottom: 49px; } 

#container13::-webkit-scrollbar { width: 0.5rem; /* 스크롤바 너비 조정 */}

#container13::-webkit-scrollbar-track { background-color: transparent; /* 스크롤바 트랙 배경색 설정 */}

#container13::-webkit-scrollbar-thumb { background-color: transparent; /* 스크롤바 색상 설정 */}

/*=====container14======*/

/*레이아웃 잡기*/

#container14 { } 

#container14 .container14-content { } 

#container14 .black-bg { width: 50%; height: 100vh; background-color: #1E1E1E; /* border: 4px solid red; */
 float: left; position: relative; display: flex; justify-content: flex-end; } 

#container14 .white-bg { width: 50%; height: 100vh; background-color: #fff; /* border: 4px solid rgb(13, 0, 129); */
 float: right; } 

#container14 .black-bg .left-ct { width: 586px; height: 100vh; background-color: #1E1E1E; clear: both; color: white; display: flex; justify-content: center; align-items: center; } 

#container14 .white-bg .right-ct { width: 586px; height: 100vh; background-color: #fff; clear: both; color: white; display: flex; flex-flow: column; justify-content: center; align-items: center; } 

#contaienr14 .right-ct { width: 586px; height: 100vh; border: 2px solid rgb(104, 12, 89); } 

/*conatainer14-콘텐츠 css*/

#container14 h2 { font-size: 30px; margin-top: 109px; position: absolute; top: 0; right: 481px; } 

#container14 .symbol-imgs { /* position: relative; left: 100px; */
 display: flex; flex-flow: column; justify-content: center; align-items: center; } 

#container14 .symbol-imgs img { width: 372px; margin: 30px; } 

#container14 .symbol-grid { width: 578px; margin-bottom: 116px; } 

#container14 .container14-right-bottom { display: flex; } 

#container14 .symbol-img { width: 222px; margin-right: 25px; } 

#container14 .right-ct p { font-size: 15px; line-height: 21px; color: black; } 

#container14::-webkit-scrollbar { width: 0.5rem; /* 스크롤바 너비 조정 */}

#container14::-webkit-scrollbar-track { background-color: transparent; /* 스크롤바 트랙 배경색 설정 */}

#container14::-webkit-scrollbar-thumb { background-color: transparent; /* 스크롤바 색상 설정 */}


#container15 { position: relative; /* border: solid 1px red; */
 /* background-color: #63E5CB; */}

#container15 .container15-content { width: 1172px; height: 100vh; margin-left: auto; margin-right: auto; /* position: relative; top: 109px; */
 display: flex; flex-flow: column; justify-content: center; align-items: center; } 

#container15 h2 { font-size: 30px; margin-bottom: 36px; position: relative; right: 515px; margin-top: 140px; } 

#container15 .container15-top .pretendard { font-size: 18px; font-weight: 600; /* margin-bottom: 44px; */}

#container15 .container15-top .regular,
.extra { font-size: 15px; /* margin-bottom: 44px; */}

#container15 .container15-top .regular { font-family: 'Pretendard'; font-weight: 'Regular'; } 

#container15 .regular-span { font-size: 65px; margin-left: 47px; position: relative; top: 19px; } 

#container15 .extra-span { font-size: 65px; font-weight: bold; margin-left: 33px; position: relative; top: 19px; } 

#container15 .container15-top .icon { width: 183px; position: relative; left: 980px; bottom: 140px; border-radius: 39px; } 

#container15 .container15-top .inpi { position: relative; left: 1043px; } 

#container15 .container15-top { width: 1172px; height: 220px; margin-bottom: 72px; } 

#container15 .container15-bottom { display: flex; } 

#container15 .category-1,
.category-2,
.category-3,
.category-4 { margin-right: 120px; } 

#container15 .category-4 { position: relative; left: 100px; } 

#container15 .category-4 img { width: 480px; height: 228px; position: relative; bottom: 50px; left: 20px; } 

#container15 .container15-bottom h3 { font-weight: 600; font-size: 18px; margin-bottom: 60px; } 

#container15 .container15-bottom p { margin-bottom: 13px; } 

#container15::-webkit-scrollbar { width: 0.5rem; /* 스크롤바 너비 조정 */}

#container15::-webkit-scrollbar-track { background-color: transparent; /* 스크롤바 트랙 배경색 설정 */}

#container15::-webkit-scrollbar-thumb { background-color: transparent; /* 스크롤바 색상 설정 */}

#container15 .inpi { position: relative; left: 1055px; bottom: 130px; font-size: 30px; font-weight: 600; } 

#container15 .container15-bottom h3 { font-size: 18px; margin-bottom: 90px; } 

#container15 .container15-bottom p { font-size: 18px; } 


#swiper-container2 .swiper-wrapper { width: 100%; background-color: #1E1E1E; } 

#swiper-container2 .swiper-slide { width: 1172px; background-color: #1E1E1E; margin-left: auto; margin-right: auto; overflow-y: auto; position: relative; overflow-x: hidden;} 

#swiper-container2 .swiper-slide .circle { width: 100%; } 

#swiper-container2 .swiper-slide:first-child .circle1 { display: flex; justify-content: center; align-items: center; } 

#swiper-container2 .circle2 h2 { position: relative; top: 250px; left: 798px; font-size: 50px; color: #58CCB5; } 

#swiper-container2 .circle3 h2 { position: relative; top: 250px; left: 838px; font-size: 50px; color: #58CCB5; } 

#swiper-container2 .circle4 h2 { position: relative; top: 250px; left: 820px; font-size: 50px; color: #58CCB5; } 

#swiper-container2 .circle5 h2 { position: relative; top: 250px; left: 810px; font-size: 50px; color: #58CCB5; } 

#swiper-container2 .circle6 h2 { position: relative; top: 250px; left: 810px; font-size: 50px; color: #58CCB5; } 
#swiper-container2 .img1 { width: 410px; z-index: 3; position: absolute; top: 30px; left: 80px; } 

#swiper-container2 .circle1 .video-1 { width: 314px; height: 700px; position: absolute; left: 436px; top: 54px; border-radius: 55px; z-index: -1; } 
#swiper-container2 .circle2 .video-2 { width: 312px; height: 700px; position: absolute; left: 130px; top: 55px; border-radius: 50px; z-index: -1; } 
#swiper-container2 .circle3 .video-3 { width: 312px; height: 700px; position: absolute; left: 130px; top: 55px; border-radius: 50px; z-index: -1; } 
#swiper-container2 .circle4 .video-4 { width: 312px; height: 700px; position: absolute; left: 130px; top: 55px; border-radius: 50px; z-index: -1; } 
#swiper-container2 .circle5 .video-5 { width: 312px; height: 700px; position: absolute; left: 130px; top: 55px; border-radius: 50px; z-index: -1; } 
#swiper-container2 .circle6 .video-6 { width: 312px; height: 700px; position: absolute; left: 130px; top: 55px; border-radius: 50px; z-index: -1; } 


#swiper-container2 .circle-content { text-align: center; position: relative; top: 150px; left: 660px; font-size: 40px; font-weight: 700; color: white; line-height: 58px; width: 450px; } 

#swiper-container2 .circle2 .circle-content { text-align: center; position: relative; top: 310px; left: 660px; font-size: 40px; font-weight: 700; color: white; line-height: 58px; width: 450px; } 
#swiper-container2 .circle3 .circle-content { text-align: center; position: relative; top: 310px; left: 660px; font-size: 40px; font-weight: 700; color: white; line-height: 58px; width: 450px; } 
#swiper-container2 .circle4 .circle-content { text-align: center; position: relative; top: 310px; left: 660px; font-size: 40px; font-weight: 700; color: white; line-height: 58px; width: 450px; } 
#swiper-container2 .circle5 .circle-content { text-align: center; position: relative; top: 310px; left: 660px; font-size: 40px; font-weight: 700; color: white; line-height: 58px; width: 450px; } 
#swiper-container2 .circle6 .circle-content { text-align: center; position: relative; top: 310px; left: 647px; font-size: 40px; font-weight: 700; color: white; line-height: 58px; width: 450px; } 



#swiper-container2 .circle6 .circle-content p{ position: relative;left: 22px;} 


#swiper-container2 .swiper-slide:first-child .circle1 .img1 { position: relative; left: 10px; } 
#swiper-container2::-webkit-scrollbar { width: 0.5rem; /* 스크롤바 너비 조정 */}
#swiper-container2::-webkit-scrollbar-track { background-color: transparent; /* 스크롤바 트랙 배경색 설정 */}
#swiper-container2::-webkit-scrollbar-thumb { background-color: transparent; /* 스크롤바 색상 설정 */}

#swiper-container2 .swiper-slide::-webkit-scrollbar { width: 0.5rem; /* 스크롤바 너비 조정 */}
#swiper-container2 .swiper-slide::-webkit-scrollbar-track { background-color: transparent; /* 스크롤바 트랙 배경색 설정 */}
#swiper-container2 .swiper-slide::-webkit-scrollbar-thumb { background-color: transparent; /* 스크롤바 색상 설정 */}

#container18 { scroll-snap-align: start; background-image: url(../img/mokup-all.png); background-repeat: no-repeat; background-size: cover; display: flex; position: relative;  } 

#container18 img { width: 182px; height: 182px; position: relative; top: 550px; left: 56px; } 

#container18 p { font-size: 23px; color: hsl(41, 100%, 96%); font-weight: 600; position: absolute; top: 650px; left: 230px; } 


#container18::-webkit-scrollbar { width: 0.5rem; /* 스크롤바 너비 조정 */}
#container18::-webkit-scrollbar-track { background-color: transparent; /* 스크롤바 트랙 배경색 설정 */}
#container18::-webkit-scrollbar-thumb { background-color: transparent; /* 스크롤바 색상 설정 */}

footer { background-color: #8A876A; scroll-snap-align: start; width: 100%; height: 524px; } 

footer ul { display: flex; list-style-type: none; padding-top: 77px; padding-left: 170px; } 

footer ul li { margin-right: 124px; } 

footer h3 { font-size: 24px; color: #164A44; padding-top: 97px; padding-left: 170px; font-weight: 800; } 

footer .p-1 { font-size: 20px; font-weight: 600; color: #fff; text-align: center; } 

footer .p-2 { font-size: 15px; color: #fff; } 

footer span { font-size: 16px; font-weight: 200; margin-left: 50px; position: relative; bottom: 1px; } 

footer .footer-bottom { display: flex; position: relative; left: 170px; top: 129px; } 

footer .footer-bottom img { width: 19px; height: 11px; position: relative; top: 4px; margin-right: 8px; } 

footer .footer-bottom p { font-size: 16px; color: #fff; } 